* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.title {
    text-align: center;
    font-size: 40px;
    color: #fff;
    background-color: #1F6040;
    padding: 20px;
    margin: 0 0 25px;
}

.content {
    width: 60%;    
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    text-align: justify;
    color: #222222;
}

.heading {
    color: #1F6040;
}

a{
    color: #1F6040;
}

img {
    height: auto;
    width: 60%;
    display: block;
    margin-top: -25px;
    margin-left: auto;
    margin-right: auto;
}

.back-link {
    margin: auto;
    width: 10%;
    margin-bottom: 50px;
    margin-top: 30px;
}

button {
    border-color: #1F6040;
    border-radius: 5px;
    border-width: 1.2px;
}